/* Primary - Shared styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}

.h3-title{
    font-size: 2.8125rem;
    font-weight: 700;
}
.h4-title{
    font-size: 1.25rem;
    font-weight: 600;
}

.bg-clr{
    background-color: rgba(255, 144, 14, 0.1);
}

.display-flex{
    display: flex;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

.btn-explore{
    background-color: rgb(255, 144, 14);
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight:600;
    padding: 21px 25px;
    border: none;
    border-radius: 8px;
}

main > section{
    margin-top: 85px;
}


/* header part */

/* nav styles */

.brand{
    font-weight: bold;
    font-size: 2.8125rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    font-size: 1.125rem;
    list-style: none;
    margin-right: 40px;
}

.nav-link{
    text-decoration: none;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}


/* Banner styles */

.banner-content{
   max-width: 850px;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 45px;
   
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;

}
.banner-img{
    width: 100%;
    margin-bottom: 45px;
}

/* Our features */

.ourfeatures-box{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    padding-left: 73px;
    max-width: 530px;
}

/* love and enjoy styles */

.enjoy-feat{
    gap: 140px;
}

#enjoy-title{
    border-left: 7px solid rgb(255, 144, 14);
    padding-left: 21px;
}

.card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

.h4-title, .card {
    margin-top: 12px;
    margin-bottom: 12px;
}
.feat-architect img{
    width: 100%;
}

#exp-badge{
    padding: 45px 42px;
    margin-left: -92px;
    margin-top: -77px;
}

#exp-year{
    font-size: 4.0625rem;
    font-weight: bold;
}

/* some facts styles */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.fact-des{
    max-width: 540px;
}

.fact-card{  
    margin-top: 45px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    width: 242px;
    height: 242px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.fact-number{
    font-weight: 600;
    font-size: 2.8125rem;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 10px;
}

/* our sponsors styles */

.sponsor-des{
    max-width: 540px;
    margin: 45px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img{
    filter: grayscale(100%);
}

/* footer styles */

footer{
    background: rgba(255, 144, 14, 0.1);
    position: absolute;
    width: 1440px;
    height: 100px;
    left: 240px;
    right: -240px;
    margin-top: 100px;
    margin-bottom: 200px;
    
}



/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .ourfeatures-box,
    .enjoy-feat,
    .feat-architect
    {
        flex-direction: column;
    }

    .team-img-container, .facts-container, .sponsor-companies{
    grid-template-columns: repeat(1,1fr);
    }

    #exp-badge{
        margin-top: 20px;
        margin-left: 20px;
    }

    .facts-container{
        justify-items: center;
    }

    .sponsor-companies{
        justify-items: center;
        gap: 50px;
}
    
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .ourfeatures-box,
    .enjoy-feat,
    .feat-architect,
    .footer
    {
        flex-direction: column;
    }
    #exp-badge{
        margin-top: 20px;
        margin-left: 20px;
    }

    .sponsor-companies, .facts-container {
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
}